* {
  box-sizing: border-box;
}
div {
  display: block;
}
.pricing_testimonial-quote {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 24px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-shadow: 0 49px 64px rgba(235,247,249,.5);
}

.pricing_testimonial-left {
  width: 100%;
  max-width: 528px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  display: flex;
}

.pricing_testimonial-right {
  width: 388px;
  height: 388px;
  padding: 12px;
}

.h4-24px {
  letter-spacing: normal;
  font-family: Inter,sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 133%;
}

.pricing_testimonial-quoter {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 8px;
  display: flex;
}

.pricing_testimonial-right {
  width: 388px;
  height: 388px;
  padding: 12px;
}
.quote-icon {
  width: 64px;
  height: 58px;
}
.text-body {
  max-width: none;
  color: #160647;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-body.text-color-gray {
  color: #817a99;
  line-height: 150%;
}

img {
  max-width: 100%;
  display: inline-block;
}

.pricing_testimonial-img {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.pricing_testimonial-color {
  width: 100%;
  height: 100%;
  background-color: #f6f8ff;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pricing_testimonial-logo {
  max-width: 75%;
}

.section_testimonial {
  padding-top: 3.25rem;
  padding-bottom: 0;
}

.padding-global.show-overflow {
  display: block;
  overflow: visible;
}
.padding-global {
  width: 100%;
  padding-left: 28px;
  padding-right: 28px;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.pricing_testimonial-wrap {
  background-image: linear-gradient(rgba(165,233,214,.2),rgba(246,254,233,0));
  border-radius: 32px;
  padding: 88px 32px 340px;
}